/* ========== 全局 ========== */
:root {
    /* CSS Mixin - 用filter给不规则形状描边，需要给指定的元素添加--stroke-width和--stroke-color变量 */
    --filter-stroke: drop-shadow(0 var(--stroke-width) 0 var(--stroke-color)) drop-shadow(0 calc(var(--stroke-width) * -1) 0 var(--stroke-color)) drop-shadow(var(--stroke-width) 0 0 var(--stroke-color)) drop-shadow(calc(var(--stroke-width) * -1) 0 0 var(--stroke-color));

    /* 杂项全局CSS属性值定义 */
    --border-radius: .25em;
    --tooltip-background-color: var(--light);
    --tooltip-color: var(--dark);
    --font-weight: normal;
}

figure {
    font-family: var(--font-family-cursive-paragraph);
}

figure>img {
    border-radius: var(--border-radius);
}

.card {
    border-radius: var(--border-radius);
    background-color: var(--white);
    background-image: url(../img/paper.jpg);
    box-shadow: var(--z2);
    padding: calc(var(--border-radius) * 2);
    margin-bottom: calc(var(--border-radius) * 4);
}

[data-tooltip]:before,
[data-tooltip]:after {
    filter: none;
    -webkit-text-stroke: 0px;
}

a[href]:not([class]):not([data-tooltip]) {
    position: relative;
    display: inline-block;
    color: var(--primary);
    transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 2.28);
}

a[href]:not([class]):not([data-tooltip])after {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    left: 0%;
    bottom: 0;
    background: rgba(240, 110, 129, 0.15);
    transition: width 0.2s ease-in-out;
    transform: skewY(-1deg) translateY(-0.3em);
}

a[href]:not([class]):not([data-tooltip]):hover:after {
    width: 100%;
}

.pure-button {
    transition: all .2s ease-out;
}

.pure-button:hover,
.pure-button:focus,
.pure-button:focus-within {
    transform: scale(1.04);
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 2.28);
}

.pure-button:active {
    transform: scale(0.98);
}

#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    z-index: 5000;
}

/* ========== 加载 ========== */
.preloader-done {
    text-align: center;
}

/* ========== 提问 ========== */

#preload_question {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 3;
    text-align: center;
    transform: translateX(-50%);
}

#preload_question .inner {
    position: relative;
}

#preload_question .inner:before {
    content: "";
    /* background-image: url(https://a-srv-img-cdn.jizhiku.net/?cache=https://cdn.jsdelivr.net/gh/monicfenga/kuruminanasefans/m_stickers/ja/kurumi-chan.17/432759397.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    position: absolute;
    top: -11em;
    left: 0;
    width: 100%;
    height: 10em;
    pointer-events: none;
}
/* ========== 头图 ========== */
@keyframes topimg-fadein {
    0% {
        transform: scale(1.25);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner.style-1 #topimg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.has-parallax-effect #topimg {
    transform: translateZ(-1px) scale(2.1);
    min-height: 100%;
    position: initial;
}

html.has-parallax-effect {
    overflow: hidden;
    height: 100%;
    z-index: -2;
}

.has-parallax-effect body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
}

#top {
    height: 100vh;
    width: 100%;
    background: var(--light);
    min-height: 100vh;
    overflow: hidden;
}

@supports (height: clamp(0px, 100vh, 1920px)) {
    #top {
        height: clamp(0px, 100vh, 1920px);
        min-height: clamp(0px, 100vh, 1920px);
    }
}

.has-parallax-effect #top {
    position: relative;
    transform-style: inherit;
    z-index: -1;
}

.has-parallax-effect #top::before {
    content: "";
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    border-radius: 2vmin;
    box-shadow: 0 0 0 4rem var(--light);
    margin: 1em;
}

html:not(.has-parallax-effect) .banner.style-1 #topimg::before {
    content: "";
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    border-radius: 2vmin;
    box-shadow: 0 0 0 4rem var(--light);
    margin: 1em;
    z-index: 1;
}

.has-parallax-effect #top::before {
    z-index: 2;
    user-select: none;
    pointer-events: none;
}

body.is-preload #top * {
    animation-play-state: paused !important;
}

.banner.style-1 #topimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--pos-x, 50%) var(--pos-y, 50%);
    pointer-events: none;
    user-select: none;
    animation: topimg-fadein 30s ease-out 0s 1;
    /* 为照顾加载动画做了延迟 */
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.banner.style-1 aside {
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    opacity: .5;
    font-size: .75em;
    padding: .5em;
    user-select: none;
    transition: all .3s ease-in-out;
    z-index: 1;
}

body.is-preload .banner.style-1 aside {
    opacity: 0;
}

.banner.style-1 section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    z-index: 1;
}

@supports (height: clamp(0px, 100vh, 1920px)) {
    .banner.style-1 section {
        height: clamp(0px, 100vh, 1920px);
    }
}

.has-parallax-effect .banner.style-1 section {
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    top: 0;
    left: 0;
}

.banner.style-1 section div {

    position: absolute;
    top: 75%;
    left: 0em;
    transform: translateY(-50%);
    backdrop-filter: blur(15px);
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 2vmin 2vmin 0;
    padding: 1em;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.2) inset, var(--z3);
    transition: all .2s ease-in-out;
}

.banner.style-1 section div:hover,#top section div:focus-within {
    background-color: rgba(255, 255, 255, 0.75);

}

.has-parallax-effect .banner.style-1 section div {
    z-index: 1;
}

.banner.style-1 section div {
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
    animation: fadein 1s ease-out 0s 1;
    transition: all .3s ease-in-out;
    /* 为照顾加载动画做了延迟 */
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

.banner section .greeting {
    margin: 0;
    font-size: calc(2.5rem + 2vmax);
    /* font-weight: bolder; */
    font-family: var(--font-family-fantasy), var(--font-family-cursive);
    line-height: 1;
}

@supports (font-size: clamp(2rem, calc(2.5rem + 2vmax), 3rem)) {
    .banner section .greeting {
        font-size: clamp(2rem, calc(2.5rem + 2vmax), 3rem);
    }
}


#top section .greeting b {
    color: var(--primary);
    background-image: linear-gradient(90deg, var(--primary), #9370DB, #4F94CD);
    /* background-image: linear-gradient(90deg, var(--primary), var(--purple), var(--blue)); */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* -webkit-text-stroke: 0.8px var(--light); */
}

#top section .hello {
    font-family: var(--font-family-sans-serif-paragraph);
    font-size: calc(0.6rem + 1vmax);
    font-weight: 400;
    color: var(--gray-dark);
    margin: 0.8em 0 0 0;
    /* -webkit-text-stroke: 0.4px var(--gray-dark); */
}

#top section .hello small {
    font-family: 'Victor Mono', var(--font-family-cursive-heading);
    font-size: 1.25rem;
}

@media (min-width:35.5em) {

    .banner.style-1 section div {
        top: 50%;
        left: 1.5em;
        padding: 2em 4em;
        border-radius: 2vmin;
    }


    #top section .greeting {
        font-size: calc(3rem + 1.5vmax);
    }

    @supports (font-size: clamp(3rem, calc(3rem + 1.5vmax), 4.5rem)) {
        #top section .greeting {
            font-size: clamp(3rem, calc(3rem + 1.5vmax), 4.5rem);
        }
    }

    /* #top section .greeting b {
        -webkit-text-stroke: 2px var(--light);
    } */

    /*     #top section .hello {
        -webkit-text-stroke: 1px var(--gray-dark);
    } */

    /* #top section div {
        padding-bottom: 0;
    } */
}

/* ========== 头图-滚动图标 ========== */
@keyframes mouse-scroll {
    0% {
        margin-top: 6px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 18px;
        opacity: 0;
    }
}

.banner.style-1 .mouse-link {
    position: absolute !important;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.mouse-icon {
    background: transparent;
    border: 2px solid var(--gray-dark);
    border-radius: 15px;
    bottom: 0px;
    height: 44px;
    margin: 0 auto 2em auto;
    width: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 2;
}


.banner.style-1 .mouse-icon {
    border-color: var(--light)
}

.mouse-icon:hover {
    opacity: 0.8 !important;
}

.mouse-icon .wheel {
    animation: 1.7s ease-in-out 0s normal none infinite mouse-scroll;
    border-radius: 30%;
    background: var(--gray-dark);
    height: 12px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    right: 0;
    width: 6px;
}

.banner.style-1 .mouse-icon .wheel {
    background-color: var(--light)
}

/* ========== 导航菜单 ========== */
.navigation-nav>.pure-g {
    min-height: 100vh;
    align-content: stretch;
}

.navigation-nav ul {
    padding-top: 1em;
}

.navigation-nav li {
    color: var(--dark);
    padding: 0.66em 0;
}

.navigation-nav li a {
    font-size: 1.5em;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 2.28);
}

#main_nav .sticker-nav {
    position: absolute;
    left: -2em;
    height: 2em;
    top: -0.5em;
    opacity: 0;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 2.28);
}

.navigation-list ul:not(#main_nav) .sticker-nav {
    position: absolute;
    height: 2em;
    top: -0.5em;
    opacity: 1;
    left: -2.5em;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 2.28);
}

.navigation-nav a.active {
    color: var(--primary);
}

#main_nav a.active .sticker-nav,
#main_nav a:hover .sticker-nav,
#main_nav a:focus-within .sticker-nav {
    opacity: 1;
    left: -2.5em;
}

.navigation-nav a:after {
    content: "";
    background: url(./DoodleCSS/hr.svg);
    background-size: cover;
    background-position: 15% center;
    background-repeat: no-repeat;
    width: 0%;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: var(--border-radius);
    transition: all .25s ease-in-out;
    filter: contrast(0) sepia(1) saturate(2) brightness(1.15) hue-rotate(321deg) contrast(1.5);
}

.navigation-nav a:hover:after,
.navigation-nav a:focus:after,
.navigation-nav a.active:after {
    width: 100%;

}

.navigation-list ul {
    list-style: none;
    padding: 0;
    margin: 1.5em 0;
}

.navigation-list a {
    position: relative;
    text-decoration: none;
}



.navigation-nav-aside-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main_nav,
#aside_nav {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#aside_nav {
    /*
    columns: 3;
    column-gap: 6em;
    */
}

@media (max-width:48em) {
    .navigation-list {
        justify-content: unset !important;
    }

    #aside_nav {
        columns: 1;
    }
}

#nav button.nav-button:not(.active) {
    filter: saturate(0);
}

.nav-button {
    position: absolute;
    z-index: 7;
    user-select: none;
    background-color: var(--primary);
    color: var(--light);
    box-shadow: var(--z2);
    height: var(--navigation-button-size);
    width: var(--navigation-button-size);
    border-radius: 50%;
    border-width: 0;
}

.nav-button>span {
    display: block;
}

@media screen and (min-width:48em) and (max-width:63.999em) {
    #main_nav {
        columns: 2;
        column-gap: 6em;
    }
}

#toggle_music {
    top: var(--navigation-button-distance);
    right: calc(((var(--navigation-button-distance) * 0.5) * 3) + (var(--navigation-button-size) * 1));
}

#toggle_sfx {
    top: var(--navigation-button-distance);
    right: calc(((var(--navigation-button-distance) * 0.5) * 4) + (var(--navigation-button-size) * 2));
}

/*  ========== 每个部分 ==========  */
section[id] {}

section .section-subheading {
    padding: 2em 3.5em 1.25em 2.5em;
    color: var(--light);
    border-image: url(../img/标题卡1.png);
    border-style: solid;
    border-image-slice: 314 374 161 334 fill;
    border-image-width: 180px 200px 100px 200px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    display: inline-block;
    margin: -0.5em 0 -0.5em 0;
}

section .section-subheading.text-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-right: 3.5em;
}

section .section-heading {

    position: relative;
    border: 2px solid;
    color: var(--primary);
    font-family: var(--font-family-cursive-heading, var(--font-family-sans-serif));
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--white);
    width: fit-content;
    padding: 0.25em 1em 0.25em 1.5em;
    line-height: 1;
    font-size: 1.75em;
    margin: 0.5em 0 0 2em;
    box-shadow: var(--z2);
}

section .section-heading.is-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-heading .heading-name {
    display: block;
}

.section-heading .heading-subname {
    font-size: 0.66em;
    font-weight: 300;
    display: block;
    margin-top: 0.25em;
    font-style: italic;
    font-family: 'Victor Mono', var(--font-family-cursive, var(--font-family-sans-serif));
}

section .section-heading .heading-sticker {
    position: absolute;
    width: auto;
    height: 3.25em;
    top: -0.5em;
    left: -1.75em;
}

section .section-heading .heading-count {
    display: none;
    position: absolute;
    left: -2em;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    top: 0.0625em;
    line-height: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    /* 默认纵向排列 */
    align-items: flex-start;
    justify-content: center;
}

.section-header,
.section-aside,
.section-content {
    padding: 1em 0;
    width: 100%;
    box-sizing: border-box;
}

.section-header {
    position: sticky;
    top: 0;
    z-index: 5;
}

/* 当屏幕宽度大于768px时，使用横向排列 */
@media (min-width: 768px) {
    .section-container {
        flex-direction: row;
    }

    .section-header,
    .section-aside {
        flex: 0 0 20%;
    }

    .section-content {
        flex: 1;
        overflow-x: hidden;
    }
}



/* ========== 问候 ========== */

#greeting {
    background-image: url(../img/标题卡4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5em 2em 1.5em 0;
    max-width: 35em;
    margin: 0 0 0 auto;
}

#greeting #the_greeting_title {
    font-family: var(--font-family-cursive-heading);
    margin: 0 0 0.25em 0;
}

#greeting #the_greeting_text {
    margin: 0;
}

#greeting #the_greeting_img {
    height: 4em;
    width: auto;
    margin: 0 1em 0 auto;
    box-shadow: var(--z2);
    border-radius: var(--border-radius);
    transform: rotate(-3deg);
}

.recommend-section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 1em 0 4em 0;
}

.recommend-section .recommend-item {
    margin: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.recommend-section .recommend-item .card {
    position: relative;
}
.recommend-section .recommend-item .card:before {
    content: '';
    background: url(../img/胶带3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6em;
    height: 2em;
    transform: rotate(6deg);
    display: block;
    position: absolute;
    left: 40%;
    top: -1em;
}

.recommend-section .pure-u-1:nth-child(1) .recommend-item .card:before {
    background-image: url(../img/胶带3.png);
    left: 38%;
    transform: rotate(6deg);
}

.recommend-section .pure-u-1:nth-child(2) .recommend-item .card:before {
    background-image: url(../img/胶带4.png);
    left: 46%;
    transform: rotate(0deg);
}

.recommend-section .pure-u-1:nth-child(3) .recommend-item .card:before {
    background-image: url(../img/胶带5.png);
    left: 52%;
    transform: rotate(-3deg);
}

.recommend-section .pure-u-1:nth-child(4) .recommend-item .card:before {
    background-image: url(../img/胶带6.png);
    left: 41%;
    transform: rotate(-6deg);
}

.recommend-section .pure-u-1:nth-child(5) .recommend-item .card:before {
    background-image: url(../img/胶带7.png);
    left: 37%;
    transform: rotate(4deg);
}

/* ========== 谁是胡桃 ========== */

#whois {
    background-image: url(../img/花装饰1.png), url(../img/花装饰4.png);
    background-position: top right, bottom left;
    background-size: 20em, 20em;
    background-repeat: no-repeat;
}

.introduction {
    /*
    --stroke-width: .25em;
    --stroke-color: var(--dark);
    border: .75em solid var(--primary);
    background-color: var(--white);
    padding: 1em;
    border-radius: 2em;
    filter: drop-shadow(0 var(--stroke-width) 0 var(--stroke-color)) drop-shadow(0 calc( var(--stroke-width) * -1) 0 var(--stroke-color)) drop-shadow(var(--stroke-width) 0 0 var(--stroke-color)) drop-shadow(calc( var(--stroke-width) * -1) 0 0 var(--stroke-color));
    */
    border-style: solid;
    border-image-source: url(../img/边框1.png);
    border-image-slice: 620 575 500 600 fill;
    border-image-width: 4em 4em 2.8em 4em;
    border-image-outset: 0.75em 0.75em 0.75em 0.75em;
    border-image-repeat: round round;
    margin: 1em;
    padding: 1.5em;
    box-shadow: var(--z2);
    position: relative;
    border-radius: 2em;
}

#whois .charimg {
    padding-left: 1em;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

@media (min-width:64em) {
    .introduction {
        margin-bottom: 10em;
    }

    #whois .charimg {
        position: absolute;
        right: -17em;
        top: -3.5em;
        width: 22em;
        pointer-events: none;
        transition: all .5s ease-in-out;
    }

    #whois .introduction:hover .charimg {
        right: -20em;
    }
}

@media (min-width:80em) {

    #whois .charimg {
        position: absolute;
        right: -13em;
        top: -3.5em;
        width: 22em;
        pointer-events: none;
    }
}

#whois .charimg img {
    --blank_space_on_right: 25.59%;
    --stroke-width: 4px;
    --stroke-color: var(--white);
    width: calc(100% + var(--blank_space_on_right));
    max-width: unset;
    height: auto;
    margin-right: calc(var(--blank_space_on_right) * -1);
    filter: drop-shadow(0 var(--stroke-width) 0 var(--stroke-color)) drop-shadow(0 calc(var(--stroke-width) * -1) 0 var(--stroke-color)) drop-shadow(var(--stroke-width) 0 0 var(--stroke-color)) drop-shadow(calc(var(--stroke-width) * -1) 0 0 var(--stroke-color)) drop-shadow(2px 4px 6px rgba(0, 0, 0, .25));
}

.introduction h3 {
    font-size: 1.25em;
    color: var(--primary);
}

.introduction mark:not([class]) {
    background-color: var(--pink);
}

.important-notice {
    position: sticky;
    top: 0;
    margin: 1em;
}

@media(min-width:60em) {
    .important-notice {
        margin-top: -8em;
    }
}

.important-notice>h3 {
    background-image: url(../img/标题卡3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 2em 0 1.8em 0;
    text-indent: -1em;
    color: var(--light);
}

.important-notice>.card {
    padding-top: 2em;
    margin-top: -4em;
    z-index: -5;
    position: relative;
}

.kurumi-friends {
    padding: 0;
}

.kurumi-friends>.pure-u-1 {
    display: flex;
    flex-direction: row;
}

@media (min-width:60em) {
    .kurumi-friends>.pure-u-1 {
        flex-direction: column;
        text-align: center;
    }

    .kurumi-friends hr.doodle-border {
        display: none;
    }
}

.kurumi-friends-title {
    background-image: url(../img/标题卡2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 2em 0 1.6em 0;
    text-indent: 1em;
    margin-top: 0;
}

.kurumi-friends li {
    display: flex;
    align-items: center;
    padding: .5em;
    box-sizing: border-box;
}

.kurumi-friends .kurumi-friend-avatar {
    background-image: url(../img/花环_01.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 1em;
}

.kurumi-friends li:nth-child(6n) .kurumi-friend-avatar {
    background-image: url(../img/花环_01.png);
}

.kurumi-friends li:nth-child(6n+1) .kurumi-friend-avatar {
    background-image: url(../img/花环_02.png);
}

.kurumi-friends li:nth-child(6n+2) .kurumi-friend-avatar {
    background-image: url(../img/花环_04.png);
}

.kurumi-friends li:nth-child(6n+3) .kurumi-friend-avatar {
    background-image: url(../img/花环_03.png);
}

.kurumi-friends li:nth-child(6n+4) .kurumi-friend-avatar {
    background-image: url(../img/花环_05.png);
}

.kurumi-friends li:nth-child(6n+5) .kurumi-friend-avatar {
    background-image: url(../img/花环_06.png);
}

.kurumi-friends img {
    max-width: 5.5em;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--white);
    box-shadow: var(--z1);
}

.kurumi-friends .kurumi-friend-info>* {
    margin: .5em 0;
}

.misc-info {
    position: relative;
}

.misc-info:before {
    content: '';
    background: url(../img/胶带7.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6em;
    height: 2em;
    transform: rotate(55deg);
    display: block;
    position: absolute;
    right: 0em;
    top: -1em;
}

.misc-info>h3 {
    background-image: url(../img/标题卡5.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 80vw;
    box-sizing: border-box;
    width: fit-content;
    text-align: center;
    padding: 0 5em;
    margin: 0 auto .75em auto;
}

/* ========== 关注胡桃 ========== */
#follow {}

@media (min-width:35.5em) {
    /*
    #follow {
        background-image: url(https://fastly.jsdelivr.net/gh/monicfenga/kuruminanasefans/m_stickers/ja/kurumi-chan.BIG/351491058.png);
        background-position: 105% 100%;
        background-size: 17em;
        background-repeat: no-repeat;
    }
    */
}

.button-follow-goto {
    width: calc(100% - 5em);
    margin: 0.5em;
}

.bili_fans_count {
    background: var(--light);
    border-radius: var(--border-radius);
    box-shadow: var(--z2);
    padding: 1em;
    margin: 1.5em;
    position: relative;
}

.bili_fans_count:before {
    content: '';
    background: url(../img/胶带6.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6em;
    height: 4em;
    transform: rotate(-10deg);
    display: block;
    position: absolute;
    left: -2em;
    top: -2em;
}
.card.follow-goto {
    position: relative;
    margin: .5em;
}
.card.follow-goto:before {
    content: "";
    width: 6em;
    height: 2em;
    transform: rotate(36deg);
    display: block;
    position: absolute;
    right: -1em;
    top: 0em;
    background: url(../img/胶带5.png) center center / contain no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}
.card.follow-goto-others {
    position: relative;
    margin: .5em;
}
.card.follow-goto-others:before {
    content: "";
    width: 6em;
    height: 2em;
    transform: rotate(23deg);
    display: block;
    position: absolute;
    right: 0em;
    top: -1em;
    background: url(../img/胶带3.png) center center / contain no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}

.bili_fans_count .small {
    margin: 0;
}

.bili_fans_count #get_bili_fans_count {
    margin: 0;
    font-weight: initial;
    font-family: var(--font-family-cursive), var(--font-family-sans-serif);

}

.bili_fans_count #get_bili_fans_count data {
    font-family: var(--font-family-monospace);
}

#get_bili_fans_count:not(.loading) #followers_count_loading {
    display: none;
}

#follow .other-places {
    color: var(--light);
}

#follow .other-places a {
    color: inherit;
}

#follow .pure-u {
    max-width: 100vw;
    overflow: hidden;
}

/*
.fans-community {
    position: sticky;
    top: 0;
    margin: 1em;
}
*/
.fans-community>h3 {
    background-image: url(../img/标题卡3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 2em 0 1.8em 0;
    text-indent: -1em;
    color: var(--light);
    position: relative;
}

.fans-community>.card {
    padding-top: 2em;
    margin-top: -4em;
   /*  z-index: -5; */
    position: relative;
}


#follow .other-places .inner {
    position: relative;
    transform: rotate(-18deg);
    padding: 4em 8em 4em 6em;
    max-width: 12em;
    transition: all .3s ease-in-out;
}

#follow .other-places .inner:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/便签1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: rotate(18deg);
    z-index: -1;
    left: 0;
    top: 0;
    pointer-events: none;
}

#follow .other-places:hover .inner,
#follow .other-places:focus-within .inner {
    transform: rotate(0);
}

@media screen and (max-width:35.5em) {
    #follow .other-places .inner {
        transform: rotate(0);
    }

    #follow .pure-u {
        overflow-x: hidden;
    }

    #follow .other-places {
        margin-left: -2em;
        margin-right: -5em;
    }
}

@media screen and (min-width:116em) {
    /*
    #follow .other-places {
        position: absolute;
        top: 25em;
        left: -2em;
        transform: scale(0.85);
    }
    */
}

/* ========== 表情包 ==========*/
#stickers .sticker-item {
    background-color: var(--white);
    border-style: solid;
    border-image-source: url(../img/边框1.png);
    border-image-slice: 620 575 500 600;
    border-image-width: 2em 2em 1.4em 2em;
    border-image-outset: 0.75em;
    border-image-repeat: repeat repeat;
    margin: 1em;
    padding: .5em;
}

/*
#stickers .sticker-item {
    padding: 0 1em 2em 1em;
}

#stickers .sticker-item header {
    border-radius: calc(var(--border-radius) * 2);
    background: var(--light);
    padding: .5em .5em 2.5em .5em;
    text-align: center;
    position: relative;
    margin-bottom: -2em;
}
*/
#stickers header {
    text-align: center;
}

#stickers .sticker-info h4,
#stickers .sticker-info p {
    margin: .25rem 0;
}

#stickers .sticker-info {
    font-size: 1.2em;
}

#stickers .sticker-preview {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: .5em .25em;
}

#stickers .sticker-preview>.wrap {
    margin: 0;
    width: 25%;
    z-index: 2;
    background-color: var(--white);
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    box-shadow: var(--z1);
    position: relative;
    min-height: 3.333em;
}


/*  ========== 壁纸 ==========  */

#wallpapers {
    background-image: url(../img/花装饰3.png);
    background-position: 0% 10%;
    background-size: 20em;
    background-repeat: no-repeat;
}

#wallpapers #wallpapers-flters {
    position: sticky;
    top: 7rem;
    background: var(--white);
    box-shadow: var(--z2);
    border-radius: var(--border-radius);
    z-index: 1;
    padding: 0.5em;
    width: fit-content;
}

@media (min-width:80em) {
    #wallpapers #wallpapers-flters {
        top: 2rem;
    }
}

#wallpapers #wallpapers-flters li {
    position: relative;
}

#wallpapers #wallpapers-flters li:after {
    content: "";
    background: url(./DoodleCSS/hr.svg);
    background-size: cover;
    background-position: 15% center;
    background-repeat: no-repeat;
    width: 0%;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: var(--border-radius);
    transition: all .25s ease-in-out;
    filter: contrast(0) sepia(1) saturate(2.5) brightness(1.15) hue-rotate(300deg) contrast(1.5);
}

#wallpapers #wallpapers-flters li:hover:after,
#wallpapers #wallpapers-flters li:focus:after,
#wallpapers #wallpapers-flters li.active:after {
    width: 100%;

}

#wallpapers #wallpapers-flters li.active {
    font-weight: bold;
}

#wallpapers .wallpapers-container:not(.active) {
    max-height: 30rem;
    overflow: hidden;
}

#wallpapers figure {
    min-height: 12.8rem;
    margin: .5em;
}

#wallpapers figure img {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover;
    object-position: top center;
    max-height: 10.15em;
}

#wallpapers figure figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0 0 0;
}

#wallpapers figure figcaption small {
    display: block;
}

#wallpapers figure a {
    min-width: fit-content;
}

/*  ========== 漫画 ==========  */
#manga {
    background-image: url(../img/花装饰5.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: 20em;
}

.manga-item {
    margin: 1em;
}

/*  ========== 故事 ==========  */
#stories {
    /* background-image: url(https://a-srv-img-cdn.jizhiku.net/?cache=https://cdn.jsdelivr.net/gh/monicfenga/kuruminanasefans/m_stickers/ja/kurumi-chan.BIG/351491030.png); */
    background-position: 5% 100%;
    background-size: 15em;
    background-repeat: no-repeat;
}

.story-list article {
    position: relative;
    margin: 0 1em 1.5em 0;
    padding: .5em;
    background-color: var(--white);
    background-image: url(../img/paper.jpg);
    border-radius: var(--border-radius);
    box-shadow: var(--z1);
}

.story-list article:after {
    content: "";
    background-image: url(../img/胶带4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: -0.5em;
    right: -1em;
    transform: rotate(-25deg);
    width: 5em;
    height: 2em;
}

.story-list article a {
    color: inherit;
    text-decoration: none;
}

.story-list article h2 {
    font-size: 1.25em;
    margin: 0;
    color: var(--primary);
}

.story-list article .entry-meta {
    font-size: 0.8em;
    opacity: .5;
}

.story-list article .entry-description {
    margin: 0.5em -0.5em;
    padding: 0.5em;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.04));
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1), 0 0.2em 0.2em rgba(0, 0, 0, 0.02);
}

.story-list article .db {
    display: inline-block;
    padding: 0 0.25em 0 0;
    background: url(../img/标题卡5.png);
    background-position: bottom center;
    background-size: cover;
}

.sticky-note {
    border-image: url(../img/边框3.png);
    border-image-slice: 634 850 614 648 fill;
    border-image-width: 5em 6em 4em 4em;
    border-image-outset: 1.4em 1.3em 1em 1em;
    border-image-repeat: round round;
    border-style: solid;
    padding: 1em;
}

/* ========== 游戏 ========== */

.game-item {
    --border-position: .5em;
    position: relative;
    padding: 15px 25px;
    border: unset;
    background-color: var(--white);
    transition: all .3s ease-in-out;
    border-radius: var(--border-radius);
    box-shadow: var(--z1);
    margin: calc(var(--border-position) * 1.5);
}

.game-item:before {
    position: absolute;
    left: calc(0% + var(--border-position));
    top: calc(0% + var(--border-position));
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary);
    background: var(--bg-color);
    background: repeating-linear-gradient(-45deg, var(--secondary), var(--secondary) 4px, var(--light) 4px, var(--light) 8px);
    content: '';
    z-index: -1;
    box-sizing: border-box;
    transition: .3s;
    opacity: .8;
}

.game-item:hover:before {
    left: calc(0% - var(--border-position));
    top: calc(0% - var(--border-position));
}

/* ========== 音乐 ========== */
#music {
    background-image: url(../img/花装饰6.png);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 20em;
}

#music .music-list {
    /*     background: var(--white);
    padding: .1em;
    border-radius: .5rem;
    box-shadow: var(--z2); */
}

#music .music-list ol {
    margin: 0;
    /* border: 2px dotted var(--tertiary); */
    padding: .5em;
    border-radius: .5rem;
}

#music .music-list ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .25em 0;
    counter-increment: test1;
    position: relative;
    padding: 0 0 0 1.75em;
}

#music .music-list ol li:before {
    content: counter(test1)".";
    color: var(--primary);
    position: absolute;
    left: -0.5em;
    top: .75em;
    font-family: var(--font-family-cursive);
    text-align: end;
    letter-spacing: 0;
    width: 2em;
}

@media(max-width:480px) {
    #music .music-list ol li {
        flex-direction: column;
        align-items: flex-start;
    }
}

#music .music-list .music-name {
    flex: 1;
}

#music .music-list .music-name h3 {
    margin: 0;
    font-weight: initial;
    font-size: 1.15em;
}

#music .music-list time {
    font-size: .9rem;
    opacity: .9;
}

/* ========== 有趣东西 ========== */

#stuffs {
    background-image: url(../img/花装饰2.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: 20em;
}

#stuffs .card {
    --border-position: .5em;
    position: relative;
    padding: 15px 25px;
    border: unset;
    background-color: var(--white);
    transition: all .3s ease-in-out;
    border-radius: var(--border-radius);
    box-shadow: var(--z1);
    margin: calc(var(--border-position) * 1.5);
}

#stuffs .card:before {
    position: absolute;
    left: calc(0% + var(--border-position));
    top: calc(0% + var(--border-position));
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary);
    background: var(--bg-color);
    background: repeating-linear-gradient(-45deg, var(--secondary), var(--secondary) 4px, var(--light) 4px, var(--light) 8px);
    content: '';
    z-index: -1;
    box-sizing: border-box;
    transition: .3s;
    opacity: .8;
}

#stuffs .card:hover:before {
    left: calc(0% - var(--border-position));
    top: calc(0% - var(--border-position));
}


/* ========== 关于本站 ========== */

#about blockquote {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 4px double var(--secondary);
    border-bottom: 4px double var(--secondary);
}

#about ul,#about ol {
    padding: 0 0 0 1em;
    margin: 0;
}

.thankyou {
    border-image: url(../img/边框2.png);
    border-style: solid;
    border-image-slice: 109 766 919 230 fill;
    border-image-width: 0.5em 4em 4em 1em;
    border-image-outset: 3px 10px 3px 3px;
    border-image-repeat: repeat repeat;
    padding: 2em 4em 2em 2em;
    margin: 1em;

}

.thankyou>h3 {
    margin-top: 0;
}

/* ========== 页脚 ========== */
#end>hr {
    margin-top: 3em;
    display: block;
    height: 1.5em;
    background-image: url(../img/可爱分割线_09.png);
    width: 30em;
    max-width: 90vw;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

footer .list-inline {
    font-size: 0.8rem;
    text-align: center;
}
