:root {
    --white: #FFF;
    --black: #111;
    --gray: #5C5B68;
    --gray-dark: #504F5C;
    --primary: #FE94A9;
    --secondary: #AC72E8;
    --success: #AAFE95;
    --info: #58FDDC;
    --warning: #FEE995;
    --danger: #FD1C49;
    --light: #FFF9EF;
    --dark: #494555;
    --font-family-sans-serif: '有爱魔兽黑体 CN',Noto Sans CJK SC,Sourse Han Sans CN,'思源黑体 CN','思源黑体',Sarasa UI SC,Sarasa Gothic SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,system-ui;
    --font-family-monospace: Iosevka,Sarasa Mono SC,Sarasa Fixed SC,Sarasa Term SC,'等距更纱黑体 SC','等距更纱黑体 T SC','思源等宽',Source Han Mono,Source Code Pro,Inconsolata,Consolas,monospace;
    --font-family-cursive: 'FZMiaoWu','851tegakizatsu','素材集市康康体',KaiTi,KaiTi_GB2312,cursive,system-ui;

    --w: var(--white);
    --f: var(--black);
    --b: var(--dark);
    --y: var(--light);
    --r: var(--primary);
}

[hidden] {
    display: none!important
}

html {
    font: 16px/1.6 var(--font-family-sans-serif);
}

body {
    background-color: var(--light);
    background-image: url("https://cdn.jsdelivr.net/gh/Dreamer-Paul/Fantasy@1.3/static/img/pattern-1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, .main-navigation a, .disp, .mo {
    font-family: var(--font-family-sans-serif);
    line-height:1.3;
}

blockquote {
    padding: 1.5rem;
    background: var(--light);
    border-left: 5px solid var(--primary);
}

.entry-title,.entry-meta {
    text-align:center;
}

.logo {
    display: block;
    text-align: center;
    font-size: 1.75em;
    margin: 0;
}

.logo>a,.logo>a>span:after {
    color: var(--primary);
    text-decoration: none;
    transition: width 3s ease-in-out;
    text-shadow: 0 0 0.5em var(--white);
}
.logo>a:hover {
    transform: rotate(-1.5deg);
}
.logo>a>span {
    padding: 0 0 0.3em 0;
    position: relative;
}
.logo>a>span:after {
    content: '';
    height: 7px;
    width: 0%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23AC72E8' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%; 
    background-size: 20px auto;
}

.logo>a:hover span:after {
    width: 100%;
}

.entry-title {margin: 0;font-family: var(--font-family-sans-serif);font-weight:400;}

.entry-meta {
    margin: 0.5em 0;
    opacity: .8;
}

@media only screen and (max-width: 640px) {
    body {
        padding: 4.5em 0.25em 0.25em 0.25em;
    }
.main-navigation > * {
    max-width: 100%;
}
}
.entry-header {
    margin: 0.2em 0;
}
.container>header {padding: 0 2em 2em 2em;margin: 0;display: block;}

.entry-content>p:not([style]) {
    text-indent: 2em;
}

.entry-content ul,
.entry-content ol {
    padding: 0 0 0 2em;
}

dl>dt {
    font-weight: bold;
}

dl>dd {
    padding: 0 0 0 2em;
    position: relative;
}

dl>dd:before {content: "»";position: absolute;left: 1em;font-weight: 100;}

.page-description {
    display: none;
}
footer {
    background: initial;
}
.entry, footer .footer-widgets>div, .main-navigation {
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.02);
}
footer .footer-widgets>div {
    padding: 1.5em
}
.dot:after {
	content:"·";
	margin-left:3px;
	margin-right:3px;
}

.menu-button {
    border-radius: 8em;
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    position: fixed;
    top: 1.75rem;
    left: calc(100% - 3.75rem);
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu:checked ~ label .menu-button {width: 3.5em;height: 3.5em;line-height: 3.5;top: 1.5rem;}
.main-navigation {
    clip-path: circle(0% at 50% 0%);
    visibility: visible;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    text-shadow: 0 0 0.5em var(--light);
}
.main-navigation:before {
    background: linear-gradient(180deg, rgba(254, 148, 169, .2), rgba(255, 227, 146, .4));
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-navigation ul {
    max-height: 80vh;
    overflow: auto;
}
#menu:checked ~ .main-navigation {
    clip-path: circle(200% at 50% 0%);
}
label[for="menu"] .menu-button span {font-weight: 100;font-family: var(--font-family-monospace);}
label[for="menu"] .menu-button span:first-child {display:inline;font-size: 1.5em;}
label[for="menu"] .menu-button span:last-child {display:none;font-size: 2em;}

#menu:checked ~ label .menu-button span:first-child {display:none;}
#menu:checked ~ label .menu-button span:last-child {display:inline;}
